* {
    font-family: 'DM Sans', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    color: #2f1c6a;
    font-family: inherit;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.header-container {
    position: relative;
}

.box {
    display: block;
    justify-content: center;
}

header {
    background-color: #fff;
    margin: 0;
    width: 100%;
    position: fixed;
    z-index: 1000;
    top: 0;
    box-shadow: 0 4px 10px #0000002f;
}

header nav {
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

header nav div img {
    max-width: 100%;
    margin: 1rem;
    height: 3rem;
}

.flag-wrap {
    margin: 0;
    display: inline-block;
    justify-content: center;
    text-align: center;
    text-decoration: none;
}

.logo {
    height: 1.5rem;
}

nav ul {
    list-style: none;
    margin: 1rem 2rem;
}

nav ul li {
    display: inline;
    margin: 1rem;
}

nav ul li a {
    text-decoration: none;
    color: #2f1c6a;
    transition: color 0.3s ease-in-out;
}

nav ul li a:hover {
    color: black;
}

.button {
    margin: 0;
    align-items: center;
    border: 2px solid #2F1C6A;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    justify-content: center;
    padding: 0.75rem 1.5rem;
    position: relative;
    text-align: center;
    transition: .3s ease-in-out;
}

.button:hover {
    border: 2px solid black;
    color: black;
}

.main-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    row-gap: 4rem;
    margin-top: 200px;
}

.main-img {
    display: block;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 2rem;
    box-sizing: border-box;
    min-width: 650px;
}

.main-box {
    display: block;
    line-height: normal;
    padding-top: 2rem;
    padding-left: 5rem;
    padding-right: 5rem;
    min-width: 425px;
}

.main-box h1 {
    padding: 0;
}

.main-img img {
    max-width: 100%;
    height: auto;
}

.networth {
    display: block;
    padding: 0 ;

}

.networth img {

   text-align: center;
}

.timer {
    display: block;
    text-align: center;
    padding: 0 5rem;
}

.button-plan {
    display: block;
    align-items: center;
    background-color: #673de6;
    border: none;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    display: flex;
    justify-content: center;
    min-height: 48px;
    padding: 0 3rem;
    position: absolute;
    left: 270px;
    text-align: center;
    transition: .3s ease-in-out;
    width: 250px;
}


.hamburger-button {
    display: none;
    cursor: pointer;
}

.rate {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.rate-box {
    display: inline-block;
    justify-content: center;
    text-align: center;
}
.google{
    text-align: left;
}
.google img{
    height: 1.5rem;
}
.google span{
   font-size: 20px; 
}

@media screen and (max-width: 1025px) {
    .all-content {
        min-width: 736px;
        padding-left: 5rem;
        padding-right: 5rem;
    }

    .main-container {
        display: grid;
        grid-template-columns: 1fr;
        justify-content: center;
        margin-top: 200px;
    }

    .hamburger-button {
        display: flex;
        justify-content: space-between;
    }

    .hamburger-button .box {
        display: inline-block;
        justify-content: space-between;
    }

    .hamburger-button .box i {
        font-size: 30px;
        padding-right: 1rem;
        padding-top: 27px;
        text-align: center;
    }

    .hamburger-button .box i:hover {
        color: black;
    }

    .main-box,
    .main-img {
        padding-left: 2rem;
        padding-right: 2rem;
    }

    header img {
        max-height: 3rem;
        margin: 1rem;
        height: 3rem;
    }


    header nav {
        display: none;
    }

    .button-plan {

        position: absolute;
        left: 270px;


    }